body{
    background-color: seagreen;
}
.wiki{
    position: relative;
    margin: 0 auto;
    top: 35vh;
    width: 40vw;
    color: white;
    text-align: center;
    font-family:courier;
    border: 1px solid;
}
.wiki-top{
    position: relative;
    margin: 0 auto;
    top: 2vh;
    width: 60vw;
    height: 10vh;
    color: white;
    text-align: center;
    font-family:courier;
}
#wiki-results{
    position: relative;
    left: 5vw;
    top: 8vh;
    width: 90vw;
    color: white;
    text-align: left;
}
.wiki-result{
    margin: 0 2vw;
}
.wiki-title{
    color: black;
    /*margin: 1px 0px;
    border-bottom: 1px solid black;*/
}
.wiki-footer{
    width: 400px;
    font-style: italic;
    font-size:smaller;
}

#wiki-a{
    /*color: white;*/
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.search-box{
    margin: 6vh auto 2vh auto;
    height: 10vh;
    border: 1px solid;
    text-align: center;
    border: 1px solid;
}
.search-box-top{
    margin-top: 2vh !important;
    height: 5vh !important;
}

#search-btn{
    font-size:50px;
}
#search-text{
    position: relative;
    height: 35px;
    width: 100%;
    left: 25%;
}

input[type=search] {
    color: red;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    width: 50%;
    height: 35px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 4px;
    word-spacing: 20px;
    border: solid darkblue;
    border-radius: 30px;


}

/*********** iPhones and SmartPhones ******************/
@media only screen and (max-width: 740px) {
    .wiki{
        top: 30vh;
        width: 80vw;
    }
    .wiki-top{
        width: 90vw;
        height: 25vh;
        border: 1px solid;
    }
    .search-box{
        margin: 8vh auto 4vh auto;
        height: 20vh;
    }
    .search-box-top{
        height: 2vh ;
    }
    #search-text{
        left: 10%;
    }
    input[type=search] {
        width: 80%;
    }
    #wiki-results{
        top: 5vh;
    }

}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .wiki{
        top: 23vh;
        width: 80vw;
    }
    .wiki-top{
        width: 90vw;
        height: 35vh;

    }
    .search-box{
        margin: 14vh auto 6vh auto;
        height: 25vh;
        border: 1px solid;
    }
    .search-box-top{
        height: 2vh ;
    }
    #search-text{
        left: 20%;
    }
    input[type=search] {
        width: 60%;
    }
    #wiki-results{
        top: 5vh;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wiki{
        top: 30vh;
        width: 70vw;
        font-size: larger;
    }
    .wiki-top{
        width: 90vw;
        height: 10vh;
        border: 1px solid;
    }
    .search-box{
        margin: 10vh auto 6vh auto;
    }
    .search-box-top{
        height: 2vh ;
    }
    #wiki-results{
        top: 10vh;
    }

}

/* iPad Pro (1024 x 1366) */
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .wiki{
        top: 30vh;
        width: 70vw;
        height: 30vh;
        font-size: x-large;
    }
    .wiki-top{
        width: 90vw;
        height: 15vh;
    }
    .search-box{
        margin: 10vh auto 6vh auto;
    }
    #wiki-results{
        top: 5vh;
    }
}

@media only screen and (min-width: 1025px)  and (max-width: 1400px) and (orientation: landscape){
    .wiki{
        top: 30vh;
        width: 70vw;
        height: 30vh;
        font-size: x-large;
    }
}