body{
    background-color: seagreen;
}
.wiki{
    position: relative;
    margin: 0 auto;
    top: 35vh;
    width: 40vw;
    height: 30vh;
    color: white;
    text-align: center;
    font-family:courier;
}
.wiki-top{
    position: relative;
    margin: 0 auto;
    top: 2vh;
    width: 60vw;
    height: 10vh;
    color: white;
    text-align: center;
    font-family:courier;
}
#wiki-results{
    position: relative;
    left: 5vw;
    top: 8vh;
    width: 90vw;
    color: white;
    text-align: left;
}
.wiki-result{
    margin-left: 10px;
}
.wiki-title{
    color: black;
    /*margin: 1px 0px;
    border-bottom: 1px solid black;*/
}
.wiki-footer{
    width: 400px;
    font-style: italic;
    font-size:smaller;
}

#wiki-a{
    /*color: white;*/
    text-decoration: none;
}

#search-box{
    position: relative;
    margin: 4vh auto;
    height: 10vh;
    text-align: center;
}
.search-box-top{
    margin-top: 2vh !important;
    height: 5vh !important;
}

#search-btn{
    font-size:50px;
}
#search-text{
    position: relative;
    height: 35px;
    width: 100%;
    left: 25%;
}
input[type=search] {
    color: red;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    width: 50%;
    height: 35px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 4px;
    word-spacing: 20px;
    border: solid darkblue;
    border-radius: 30px;


}

@media only screen and (max-width: 740px) {
    .wiki{
        top: 30vh;
        width: 80vw;
    }
    .wiki-top{
        width: 90vw;
        height: 30vh;
    }
    #wiki-results{
        top: 5vh;
    }

}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    .wiki{
        top: 23vh;
        width: 80vw;
        height: 50vh;
    }
    #search-box{
        margin: 13vh auto;
    }
    #wiki-results{
        top: 5vh;
    }

}