<div class="header">
    <div class="arrows arrow-left"><i class="fa fa-angle-left" ng-click="previous()"></i></div>
    <span class="middle month">{{month.format('MMMM YYYY')}}</span>
    <div class="arrows arrow-right"><i class="fa fa-angle-right" ng-click="next()"></i></div>
</div>

<div id="calendar">
    <ul class="weekdays">
        <li>Sunday</li>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
    </ul>

    <!--tricky part, with angular.js-->
    <div class="week" ng-repeat="week in weeks">
        <ul class="days">
            <li class="day"
                ng-repeat="day in week.days"
                ng-class="{ today: day.isToday,'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"
                ng-click="select(day)">
                <div class="date">{{day.number}}</div>
            </li>
        </ul>
    </div>

    <div modal="showModal" class="my-modal">
        <div class="modal-header">
            <h4>Add Event for {{selected.format('D MMM, YYYY')}}</h4>
        </div>
        <div class="modal-body">
            <table class="event-details">
                <tr><td>Title:      </td><td><input type="text" ng-model="eventtitle">         </td></tr>
                <tr><td>Description:</td><td><input type="text" ng-model="eventdesc">          </td></tr>
                <tr><td>Start Time: </td><td><input type="time" ng-model="eventstarttime">     </td></tr>
                <tr><td> End Time:  </td><td><input type="time" ng-model="eventendtime">       </td></tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="createEvent()">Create</button>
            <button class="btn" ng-click="closeDialog()">Cancel</button>
        </div>
    </div>
</div>
