.dims{
    max-width:800px;
    min-width:500px;
    width: 50%;
    left: 25%;
}
.canvas{
    position: fixed;
    top: 2%;
    height: 75%;
    border: 1px orangered dashed;
}

.outer{
    position: fixed;
    border: 1px red dashed;
    text-align: center;
    top: 81%;
}
    .tools{
        text-align: center;
    }
    
    .color-options{
        margin-top: 6px;
        float: left;
    }
    .thickness-options{
        margin-top: 5px;
        float:right;
    }

.icons{
    display: inline;
}

.image{
    width: 30px;
    margin: 5px;
    border: 1px outset gainsboro;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.favicon{
    margin: 5px;
    width: 90px;
    border: 3px solid green;
    border-radius: 50%;
}