body{
    font-family: Garamond;
    color: gold;
    font-size: 3vh;
    background-color: darkgray;
    height: 100%;
    background-image: url("background.jpg");
}

.outer-grid{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 50vh 25vh;
}

#row2 {
    background-repeat: no-repeat;
    background-size:cover;
}

.inner-grid{
    display: grid;
    grid-template-rows: 30vh 10vh 10vh;

    background-color: grey;
    opacity: .8;
}
#quote-txt{
    grid-row: 1;

    max-width: 60vw;
    margin-left: 20vw;
    padding-top: 10vh;
    text-align: left;
}
#quote-author{
    grid-row:2;
}

#author{
    margin-right:20vw;
    float: right;
    font-weight: bold;
}

#buttons{
    grid-row: 3;
}
#new-quote{
    margin-right:20vw;
    float: right;
    opacity:.8;
    cursor:pointer;
    font-weight: bold;
}
