.map {
    height: 95%;
    width: 100%;
}

#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.img-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    width: 100px;
    min-width: 50px;
    min-height: 100px;
}

.popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.popup-closer:after {
    content: "x";
}