body{
    font-family: Garamond;

    /*needed for background image to not repeat on mobile phones*/
    background: url("background.jpg") sandybrown no-repeat center center fixed;

    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;


    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    /*background-size: contain;*/

}
.map {
    position: fixed;
    height: 67vh;
    width: 68vw;
    left: 99vw;
    top: 30vh;
}

/*div with Google Map can only be rounded corners like this */
.map > div {
    border: 1px solid;
    border-radius: 10px;
}

#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.img-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    width: 100px;
    min-width: 50px;
    min-height: 100px;
}

.img-content{
    position: relative;
    top: 5px;
    width: 70px;
}
.popup-closer {
    text-decoration: none;
    position: absolute;
    top: 1px;
    right: 5px;
}
.popup-closer:after {
    content: "x";
}

#welcome{
    position: fixed;
    padding: 50px 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    opacity: .8;
    background: sandybrown;

    width: 50%;
    left: 25%;
    top: 20vh;
}

#sorry{
    display: none;
}

#buttons{
   margin-top: 3vh;
}

.para1 {
    font-size: 20px;
}
.disclaimer {
    margin-top: 3vh;
    font-size: 22px;
}

.accent-color {
    color: brown;
}

.bold{
    font-weight:bold;
}


/*********** iPhones and SmartPhones ******************/
@media only screen and (max-width: 740px) {
    #welcome{
        display: none;
    }
    /*not working*/
    #map, .map{
        display: none;
    }
    #sorry{
        display: block;

        position: relative;
        margin: 0 auto;
        top: 8vh;
        width: 60vw;
        height: 17vh;
        padding: 2vh 1vw;
        background: sandybrown;
        text-align: center;
        border: 2px solid;
        border-radius: 10px;
        opacity: .8;
    }
    h1,h2{
        font-size: medium;
    }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
    #welcome{
        display: block;
        top: 10vh;
        left: 18vw;
        width: 64vw;
        height: 76vh;
        padding: 2vh 1vw;
    }
    #sorry{
        display: none;
    }
    h1,h2{
        font-size: large;
    }
    .para1 {
        font-size: 14px;
    }
    .disclaimer {
        font-size: 13px;
    }
}

/*##Device = Tablets, Ipads (portrait)*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #welcome{
        top: 10vh;
        left: 20vw;
        width: 60vw;
        height: 50vh;
        padding: 3vh 3vw;
    }
    #sorry{
        display: none;
    }

    .para1 {
        font-size: 22px;
    }
    .disclaimer {
        margin-top: 3vh;
        font-size: 20px;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #welcome{
        top: 9vh;
        left: 20vw;
        width: 60vw;
        height: 60vh;
        padding: 3vh 3vw;
    }

    #buttons{
        margin-bottom: 2vh;
    }
}