.map {
    position: fixed;
    height: 99%;
    width: 99%;
    left: 6px;
    top: 4px;
    /*border: solid;
    border-radius: 5px;*/
}

#map:focus {

    outline: #4A74A8 solid 0.15em;
}

.img-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    width: 100px;
    min-width: 50px;
    min-height: 100px;
}

.img-content{
    position: relative;
    top: 5px;
    width: 70px;
}
.popup-closer {
    text-decoration: none;
    position: absolute;
    top: 1px;
    right: 5px;
}
.popup-closer:after {
    content: "x";
}


.center{
    position: fixed;
    width: 40%;
    padding: 70px 0;
    top: 35%;
    left: 30%;
    text-align: center;
    /*border:solid;*/
}

.centered{
    margin:auto;
}